<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/jasmit43">Joseph Smith</a>. He is a new up and coming web developer who is dedicated to learning how to turn his ideas into reality.
  </p>
  
  <br />

  <p>
    With guided instruction, Joseph has built multiple web applications that demonstrate his ability and skill as a junior web developer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joseph Smith</h2>
      
      <br />
      
      <p>
        Joseph got his full-stack web developer certificate from the University of Arizona Online Coding Bootcamp, where he learned how to create web applications just like this one.
      </p>

    </div>

  </div>

</div>

  <br class="clear" />
  <br/>
  <br/>
  <br/>
  <br/>